@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins-Regular.ttf');
}

@font-face {
  font-family: 'Poppins Bold';
  src: url('./fonts/Poppins-Bold.ttf');
}

@font-face {
  font-family: 'EmfatickNF';
  src: url('./fonts/EmfatickNF.otf');
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  padding: 0;
  margin: 0;
}

body .background-img {
  position: fixed;
  inset: 0;
  top: 0px;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

* {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Poppins';
}